@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@model List<KargoDetay>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
@using (Html.BeginForm("Index", "Kargo", FormMethod.Get, new { @class = "search-form" }))
{
    <div class="form-group">
        <label for="p">Kargo Ara</label>
        @Html.TextBox("p", null, new { @class = "form-control", placeholder = "Kargo takip numarasını giriniz..." })
    </div>
    <button type="submit" class="btn btn-primary">Ara</button>
}

<br />

<table class="table table-striped" style="margin-top:20px;">
    <tr>
        <th>Personel</th>
        <th>Alıcı</th>
        <th>Takip Kodu</th>
        <th>Tarih</th>
        <th>Detaylar</th>
    </tr>

    @foreach (var k in Model)
    {
        <tr>
            <td>
                @k.Personel
            </td>
            <td>@k.Alici </td>
            <td>@k.TakipKodu </td>
            <td>@k.Tarih </td>
            <td><a href="/Kargo/KargoTakip/@k.TakipKodu" class="btn btn-info">Detaylar</a></td>
        </tr>
    }
</table>

<a href="/Kargo/YeniKargo" class="btn btn-primary">Yeni Kargo Girişi</a>


