@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@model List<Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
@using (Html.BeginForm("Index", "Urun", FormMethod.Get, new { @class = "search-form" }))
{
    <div class="form-group">
        <label for="p">Ürün Ara</label>
        @Html.TextBox("p", null, new { @class = "form-control", placeholder = "Ürüne ait bilgi girin..." })
    </div>
    <button type="submit" class="btn btn-primary">Ara</button>
}

<br />
<table class="table table-striped">
    <tr>
        <th>Ürün</th>
        <th>Marka</th>
        <th>Stok</th>
        <th>Alış Fiyat</th>
        <th>Satış Fiyat</th>
        <th>Kategori</th>
        <th>Görsel</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
        <th>Satış Yap</th>
    </tr>
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.UrunAd</td>
            <td>@u.Marka</td>
            <td>@u.Stok</td>
            <td>@u.AlisFiyat ₺</td>
            <td>@u.SatisFiyat ₺</td>
            <td>@u.Kategori.KategoriAd</td>
            <td>
                <img src="@u.UrunGorsel" alt="Ürün Görseli" style="width: 100px; height: 100px; border-radius: 5px;">
            </td>
            <td>
                <a href="/Urun/UrunSil/@u.UrunID" class="btn btn-danger">Sil</a>
            </td>
            <td>
                <a href="/Urun/UrunGetir/@u.UrunID" class="btn btn-success">Güncelle</a>
            </td>
            <td>
                <a href="/UrunDetay/UrunDetay/@u.UrunID" class="btn btn-info">Detaylar</a>
            </td>
            <td>
                <a href="/Urun/SatisYap/@u.UrunID" class="btn btn-warning">Satış Yap</a>
            </td>
        </tr>
    }
</table>
<a href="/Urun/YeniUrun/" class="btn btn-primary">Yeni Ürün</a>

